header
{
    color: gold; background-color: honeydew; border-style: dashed;width: 100%;
 border-radius: 10px 5px 10px;font-size: 1.2em;padding-block-end: 10px;
    }
    .dessous
    {
        clear: both;

    }
    section {
      display: inline-block;background-position: 10px;padding: 10px;vertical-align: top;text-align: justify; color: honeydew; background-color: goldenrod; width: 100%; font-size: 1.2em; 
        
                background-color: goldenrod;
                width: 100%;
                height: 50%;
            }
